#footer {
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    background-color: white;
    box-shadow: .0em -.1em .1em lightgray;
    text-align: center;
    line-height: 3em;
    color: grey;
}